<!DOCTYPE html>
<html>
<title>404</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">

  <body>
    {{>header}}
    <center><h1>{{title}}</h1></center>
    <div class="main-content">

    <center><font color="yellow" size="64px">{{errormessage}}</font><center>
  </div>
    {{>footer}}
  </body>
</html>
