<!DOCTYPE html>
<html>
<title>Help</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
  <body>
    {{>header}}
    <center><h1>{{title}}</h1></center>
    <div class="main-content">
      {{message}}
    </div>
    {{>footer}}
  </body>
</html>
